
	@import "variables.less";
	@import "mixins.less";

	/* Old utility classes */
	
	.nowrap {
		white-space: nowrap;
	}
	
	.align-right {
		text-align: right;
	}

	.align-left {
		text-align: left;
	}	

	.align-center {
		text-align: center;
	}
	
	.float-right {
		float: right;
		display: inline;
	}
		
	.float-left {
		float: left;
		display: inline;
	}

	.radio-list .radio-list-selected * {
		font-weight: bold;
	}
	
	.checkbox-list td,
	.radio-list td,
	.radio-list li {
		cursor: pointer;
		padding: 5px;
	}
	
	.ui-dialog div.ui-dialog-content {
		padding-top: 15px;
	}
	
	.checkbox-list .checkbox-list-highlighted td,
	.radio-list .radio-list-selected td,
	.radio-list .radio-list-selected li {
		background-color: #EEE;
	}
	
	@borderWidth: 2px;
	@verticalGutter: 15px;
	@altFontFamilyHeavy: "Avenir LT W01 85 Heavy";
	
	.table th, th, strong, dt, .label, .badge {
		font-family: 'HelveticaNeueW01-65Medi';
		font-weight: 100;
	}
	
	.text-link {
		color: @textColor;
	}
	
	.border-top {
		border-top: @borderWidth solid @hrBorder;
	}
	
	.border-bottom {
		border-bottom: @borderWidth solid @hrBorder;
	}
	
	.border-right {
		border-right: @borderWidth solid @hrBorder;
	}
	
	.border-left {
		border-left: @borderWidth solid @hrBorder;
	}
	
	.border-all {
		.border-top;
		.border-bottom;
		.border-right;
		.border-left;
	}
	
	.spacing-top, .block {
		margin-top: @verticalGutter;
	}
	
	.spacing-bottom {
		margin-bottom: @verticalGutter;
	}
	
	.no-margin-bottom {
		margin-bottom: 0px;
	}
	
	.normal-leading {
		line-height: normal;
	}
	
	.no-margin-top {
		margin-top: 0px;
	}
	
	.left-rail > div {
		.border-top;
	}
	
	.left-rail > div:first-child {
		border: none;
	}
	
	.icon-facebook-sign {
		color: #3B5998;
	}
	
	.icon-twitter-sign {
		color: #4099FF;
	}
	
	.main-nav .container {
		padding-bottom: 10px;
		border-bottom: 2px solid @hrBorder;
	}
	
	.main-nav .navbar-inner {
		box-shadow: none;
		margin-bottom: @verticalGutter;
	}
	
	.main-nav .brand {
		padding: 0px 15px 0px 0px;
		position: relative;
		margin-left: 0px;
		top: -5px;
	}
	
	.main-nav .nav > li > a {
		font-family: @altFontFamily;
		text-shadow: none;
		font-size: 18px;
		color: #333;
	}
	
	.medium {
		font-family: "HelveticaNeueW01-65Medi";
	}
	
	.heavy {
		font-family: "HelveticaNeueW01-85Heav";
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: 100;
		font-family: @altFontFamilyHeavy;
		.medium {
			font-family: @altFontFamily;
		}
	}
	
	.lead {
		font-family: @altFontFamily;
		.medium {
			font-family: @altFontFamily;
		}
		.heavy {
			font-family: @altFontFamilyHeavy;
		}
	}
	
	.truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.select-dropdown {
		background: white;
		border: 1px solid #ccc;
		font-size: @baseFontSize;
		padding: 5px;
	}
	
	.select-dropdown .dropdown-toggle {
		.truncate;
	}
	
	.left-rail h3,
	.right-rail h4 {
		line-height: normal;
	}
	
	.main-links a {
		display: block;
		font-family: @altFontFamily;
		line-height: 35px;
	}
	
	.main-links a.pull-left {
		margin-right: 15px;
	}
	
	.main-links a.pull-right {
		margin-left: 15px;
	}
	
	#content {
		position: relative;
	}
	
	.footer a,
	.account-links a {
		padding: 0px 10px 0px 10px;
	}
	
	#featured {
		margin: auto;
		max-width: 1200px;
		position: relative;
	}
	
	.carousel .pagination {
		position: absolute;
		bottom: -10px;
		left: 10px;
	}
	
	.carousel .pagination .active {
		display: inline;
	}

	.carousel .item {
		height: 409px;
		background-repeat: no-repeat;
		background-position: top center; 
	}
	
	.drop-shadow {
		.box-shadow(1px 1px 5px rgba(0, 0, 0, 0.3))
	}

	.outer-border-box {
		padding: 5px;
		.border-radius(10px);
		background: @grayLighter;
	}
	
	.outer-border-box > * {
		.clearfix;
		.border-radius(5px);
		.drop-shadow;
		background: white;
		padding: 15px;
	}
	
	.outer-border-box-green {
		background: @green;
	}
	
	.outer-border-box-red {
		background: @red;
	}
	
	.carousel .outer-border-box {
		background: rgba(0, 0, 0, 0.3);
	}
	
	.account-panel .outer-border-box {
		.spacing-top;
	}
	
	i.icon-blue,
	.account-panel .outer-border-box h4 i {
		color: @blue;
	}
	
	.account-widget-heading {
		font-size: 16px;
		line-height: normal;
		.border-radius(5px);
		background: @blue;
		color: white;
		font-family: @altFontFamily;
		font-weight: normal;
		padding: 5px;
		margin-left: -@verticalGutter;
		margin-right: -@verticalGutter;
		margin-top: -@verticalGutter;
	}
	
	.account-widget-heading * {
		color: @white;
	}
	
	.home-block {
		padding: 0px @verticalGutter 0px @verticalGutter;
		height: 200px;
		color: white;
		display: block;
		background-repeat: no-repeat;
		background-position: right; 
	}
	
	@colorSAT: #00BDF8;
	@colorACT: #3D7200;
	@colorAcademic: #6E8831;
	@colorOther: #FF6800;
	
	.home-block-sat {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r6_c2.png);
		background-color: @colorSAT;
	}
	
	.home-block-act {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r6_c5.png);
		background-color: @colorACT;
	}
	
	.home-block-academic {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r6_c7.png);
		background-color: @colorAcademic;
	}
	
	.home-block-other {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r8_c2.png);
		background-color: @colorOther;
	}
	
	.home-block-about {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r8_c5.png);
		background-color: #A90E2C;
	}
	
	.home-block-jed {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r8_c7.png);
		background-color: #2C2C11;
	}
	
	.home-block:hover {
		color: white;
		text-decoration: none;
	}
	
	.home-block h2:hover {
		text-decoration: underline;
	}
	
	.home-block h2 {
		padding-top: 0px;
		padding-bottom: 0px;
		font-size: 24px;
		text-shadow: 1px 1px 1px #000;
		margin-bottom: 0px;
	}
	
	.home-block p {
		width: 90%;
		font-family: @altFontFamily;
		font-size: 16px;
	}
	
	.footer img {
		width: 135px;
		position: absolute;
		bottom: 7px;
		right: 0px;
	}
	
	#content > h2:first-child {
		font-size: @baseFontSize * 5;
		padding-left: 5px;
		padding-bottom: 5px;
		border-bottom: 8px solid @green;
		color: @green;
		font-family: @altFontFamily;
		line-height: normal;
	}
	
	#content > h2:first-child small {
		font-size: @baseFontSize * 1.5;
	}
	
	#content > h2.red:first-child {
		color: @red;
		border-color: @red;
	}
	
	.menu-subtitle {
		font-family: @sansFontFamily;
		color: @textColor;
	}
	
	.nav-tabs > .active > a.gold,
	.nav-tabs > li > a.gold {
		font-color: @textColor;
		background-color: #EDDA74;
	}
	
	.underline {
		border-bottom: 2px solid @grayLight;
	}
	
	.solid-box {
		padding: 15px;
		.border-radius(5px);
		.drop-shadow;
		color: white;
		.lead;
	}
	
	.solid-box-green {
		background: @green;
	}
	
	.calendar-item td:first-child {
		width: 65px;
	}
	
	.calendar-item h4 {
		margin: 0px;
	}
	
	.calendar-item td {
		padding-top: @verticalGutter;
		padding-bottom: @verticalGutter;
	}
	
	.date-icon {
		text-align: center;
		.solid-box;
		.solid-box-green;
		padding: 5px;
	}
	
	.date-icon-day {
		font-weight: 100;
		font-size: 80%;
		font-family: @sansFontFamily;
	}
	
	.date-icon-month {
		font-size: 16px;
	}
	
	.date-icon .lead {
		margin: 0px;
		line-height: 17px;
	}
	
	.bookstore-item > div:first-child {
		line-height: 228px;
		background: @grayLighter;
	}
	
	.bookstore-item h4 {
		min-height: 40px;
	}
	
	.more-link {
		display: block;
		.spacing-top;
	}
	
	.nav-media > li > a {
		line-height: normal;
	}
	
	.no-padding {
		padding: 0px;
	}
	
	#feature-list {
		padding: 0px;
		list-style: none;
		margin: 0px;
	}
	
	.feature-list-item a {
		padding: 10px;
		font-size: 123.1%;
		color: white;
		text-decoration: none;
		text-transform: lowercase;
		display: block; 
		vertical-align: middle;
		margin-bottom: 5px;
	}

	#feature-list-item-1 a {
		background-color: #3A3D27;
	}

	#feature-list-item-1 a:hover {
		background-color: #6C6E5E;
	}

	#feature-list-item-2 a {
		background-color: #437200;
	}

	#feature-list-item-2 a:hover {
		background-color: #7B9045;
	}
	
	#feature-list-item-3 a {
		background-color: #70883A;
	}
	
	#feature-list-item-3 a:hover {
		background-color: #98A26E;
	}
	
	#feature-list-item-4 a {
		background-color: #FF4E24;
	}

	#feature-list-item-4 a:hover {
		background-color: #EF865F;
	}
	
	#feature-list-item-5 a {
		background-color: #D70000;
	}
	
	#feature-list-item-5 a:hover {
		background-color: #D15643;
	}
	
	#feature-list-item-6 a {
		background-color: #780013;
	}
	
	#feature-list-item-6 a:hover {
		background-color: #8F4A4F;
	}
	
	#purchase-overlay {
		position: absolute;
		top: 0px;
		right: 0px;
	}
	
	.college-information dt {
		width: 110px;
	}
	
	.college-information dd {
		margin-left: 125px;
	}
	
	body.home .main-nav .container {
		border: none;
	}
	
	body.home .navbar-inner {
		.no-margin-bottom;	
	}
	
	body.sat #content > h2:first-child {
		color: @colorSAT;
		border-color: @colorSAT;
	}
	
	body.sat .outer-border-box-green {
		background: @colorSAT;
	}
	
	body.act #content > h2:first-child {
		color: @colorACT;
		border-color: @colorACT;
	}
	
	body.act .outer-border-box-green {
		background: @colorACT;
	}
	
	body.psat #content > h2:first-child,
	body.ssat #content > h2:first-child,
	body.sat-subjects #content > h2:first-child,
	body.gre #content > h2:first-child,
	body.gmat #content > h2:first-child {
		color: @colorOther;
		border-color: @colorOther;
	}
	
	body.psat .outer-border-box-green,
	body.ssat .outer-border-box-green,
	body.sat-subjects .outer-border-box-green,
	body.gre .outer-border-box-green,
	body.gmat .outer-border-box-green {
		background: #ff6800;
	}
