
	@import "variables.less";
	@import "mixins.less";

	/* Old utility classes */
	
	.nowrap {
		white-space: nowrap;
	}
	
	.align-right {
		text-align: right;
	}

	.align-left {
		text-align: left;
	}	

	.align-center {
		text-align: center;
	}
	
	.float-right {
		float: right;
		display: inline;
	}
		
	.float-left {
		float: left;
		display: inline;
	}

	.radio-list .radio-list-selected * {
		font-weight: bold;
	}
	
	.checkbox-list td,
	.radio-list td,
	.radio-list li {
		cursor: pointer;
		padding: 5px;
	}
	
	.ui-dialog div.ui-dialog-content {
		padding-top: 15px;
	}
	
	.checkbox-list .checkbox-list-highlighted td,
	.radio-list .radio-list-selected td,
	.radio-list .radio-list-selected li {
		background-color: #EEE;
	}
	
	@borderWidth: 2px;
	@verticalGutter: 15px;
	@altFontFamilyHeavy: "Avenir LT W01 85 Heavy";
	
	hr {
		margin: 10px 0;
		border-top: @hrWidth solid @hrBorder;
	}
	
	.table th, th, strong, dt, .label, .badge {
		font-family: 'HelveticaNeueW01-65Medi';
		font-weight: 100;
	}
	
	.text-link {
		color: @textColor;
	}
	
	.border-top {
		border-top: @borderWidth solid @hrBorder;
	}
	
	.border-bottom {
		border-bottom: @borderWidth solid @hrBorder;
	}
	
	.border-right {
		border-right: @borderWidth solid @hrBorder;
	}
	
	.border-left {
		border-left: @borderWidth solid @hrBorder;
	}
	
	.border-all {
		.border-top;
		.border-bottom;
		.border-right;
		.border-left;
	}
	
	.spacing-top, .block {
		margin-top: @verticalGutter;
	}
	
	.spacing-bottom {
		margin-bottom: @verticalGutter;
	}
	
	.no-margin-bottom {
		margin-bottom: 0px;
	}
	
	.normal-leading {
		line-height: normal;
	}
	
	.no-margin-top {
		margin-top: 0px;
	}
	
	.left-rail > div {
		.border-top;
	}
	
	.left-rail .no-border-top {
		border: none;
	}
	
	.left-rail > div:first-child {
		border: none;
	}
	
	.left-rail .active {
		text-decoration: underline;
	}
	
	.icon-facebook-sign {
		color: #3B5998;
	}
	
	.icon-twitter-sign {
		color: #4099FF;
	}
	
	.main-nav .container {
		padding-bottom: 10px;
		border-bottom: 2px solid @hrBorder;
	}
	
	.main-nav .navbar-inner {
		box-shadow: none;
		margin-bottom: @verticalGutter;
	}
	
	.main-nav .brand {
		padding: 0px 15px 0px 0px;
		position: relative;
		margin-left: 0px;
		top: -5px;
	}
	
	.main-nav .nav > li > a {
		font-family: @altFontFamily;
		text-shadow: none;
		font-size: 18px;
		color: #333;
		font-weight: 100;
	}
	
	.main-nav .active {
		background: #F2F2F2;
	}
	
	.main-nav .nav-collapse .dropdown-menu a {
		font-weight: 100;
	}
	
	.medium {
		font-family: "HelveticaNeueW01-65Medi";
	}
	
	.heavy {
		font-family: "HelveticaNeueW01-85Heav";
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		font-family: @altFontFamilyHeavy;
		.medium {
			font-family: @altFontFamily;
		}
	}
	
	.lead {
		font-family: @altFontFamily;
		.medium {
			font-family: @altFontFamily;
		}
		.heavy {
			font-family: @altFontFamilyHeavy;
		}
	}
	
	.truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.select-dropdown {
		background: white;
		border: 1px solid #ccc;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		padding: 4px 6px;
		cursor: pointer;
		.box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
		.border-radius(4px);
	}
	
	.select-dropdown i {
		line-height: @baseLineHeight;
	}
	
	.select-dropdown .dropdown-toggle {
		.truncate;
	}
	
	.left-rail h3,
	.right-rail h4 {
		line-height: normal;
	}
	
	.right-rail .drop-shadow-box > div,
	.drop-shadow-box-grey > div {
		background: @grayLighter;
	}
	
	.drop-shadow-box-grey hr {
		border-color: @grayLight;
	}
	
	.main-links {
		padding: 3px;
	}
	
	.main-links a {
		line-height: 30px;
	}
	
	.main-links .btn {
		line-height: inherit;
	}
	
	.main-links a.pull-left {
		margin-right: 15px;
	}
	
	.main-links a.pull-right {
		margin-left: 15px;
	}
	
	#content {
		position: relative;
	}
	
	.footer a,
	.account-links a {
		padding: 0px 10px 0px 10px;
	}
	
	#featured {
		margin: auto;
		max-width: 1200px;
		position: relative;
	}
	
	.carousel .carousel-indicators {
		position: absolute;
		right:5px;
		top: 5px;
	}
	
	.carousel .carousel-indicators .active {
		display: inline;
	}
	
	.carousel-indicators a:hover {
		text-decoration: none;
	}

	.carousel .item {
		height: 409px;
		background-repeat: no-repeat;
		background-position: top center; 
	}
	
	.drop-shadow {
		.box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
	}
	
	.drop-shadow-box {
		.box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
		.border-radius(@baseBorderRadius);
	}
	
	.drop-shadow-box-highlight {
		.box-shadow(0 0 3px rgba(217, 237, 247, 0.3));
	}
	
	.outer-border-box,
	.drop-shadow-box-border {
		padding: 3px;
		.border-radius(7px);
		background: @grayLighter;
	}
	
	.drop-shadow-box-border > * {
		.box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
	}
	
	.outer-border-box > *,
	.drop-shadow-box > * {
		.clearfix;
		.border-radius(@baseBorderRadius);
		background: @white;
		padding: 15px;
	}
	
	.drop-shadow-box-highlight > * {
		background: #d9edf7;
	}
	
	.drop-shadow-box-highlight h4 a,
	.drop-shadow-box-highlight h4 {
		color: #3A87AD;
	}
	
	.drop-shadow-box > * {
		.border-radius(@baseBorderRadius);
	}
	
	.carousel .outer-border-box {
		background: rgba(0, 0, 0, 0.3);
	}
	
	i.icon-blue,
	.account-panel .outer-border-box h4 i {
		color: @blue;
	}
	
	.account-widget-heading {
		font-size: 16px;
		line-height: normal;
		.border-top-radius(5px);
		background: @blue;
		color: white;
		font-family: @altFontFamily;
		font-weight: normal;
		padding: 5px;
		margin-left: -@verticalGutter;
		margin-right: -@verticalGutter;
		margin-top: -@verticalGutter;
	}
	
	.account-widget-heading * {
		color: @white;
	}
	
	.home-block {
		padding: 0px @verticalGutter 0px @verticalGutter;
		height: 175px;
		color: white;
		display: block;
		background-repeat: no-repeat;
		background-position: right; 
	}
	
	@colorSAT: #2D6987;
	@colorACT: #3D7200;
	@colorAcademic: #4a446d;
	@colorOther: #ac5426;
	@colorAccentRed: #7b0309;
	
	.accent-blue-background {
		background: @colorSAT;
	}
	
	.accent-green-background {
		background: @colorACT;
	}
	
	.accent-light-green-background {
		background: @colorAcademic;
	}
	
	.accent-orange-background {
		background: @colorOther;
	}
	
	.accent-red-background {
		background: @colorAccentRed;
	}
	
	.accent-blue {
		color: @colorSAT;
	}
	
	.accent-green {
		color: @colorACT;
	}
	
	.accent-light-green {
		color: @colorAcademic;
	}
	
	.accent-orange {
		color: @colorOther;
	}
	
	.accent-red {
		color: @colorAccentRed;
	}
	
	.home-block-sat {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r6_c2.png);
		background-color: @colorSAT;
	}
	
	.home-block-act {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r6_c5.png);
		background-color: @colorACT;
	}
	
	.home-block-academic {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r6_c7.png);
		background-color: @colorOther;
	}
	
	.home-block-other {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r8_c2.png);
		background-color: @colorAccentRed;
	}
	
	.home-block-about {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r8_c5.png);
		background-color: #70493D;
	}
	
	.home-block-jed {
		background-image: url(/media/images/home/applerouth-00-home-v0-3-8_r8_c7.png);
		background-color: #2C2C11;
	}
	
	.home-block-materials {
		background-image: url(/media/images/home/prepmaterials.png);
		background-color: #728974;
	}
	
	.home-block-educators {
		background-image: url(/media/images/home/educators.png);
		background-color: #87782d;
	}
	
	.home-block-mocks {
		background-image: url(/media/images/home/smiling_classroom.png);
		background-color: @colorAcademic;
	}
	
	.home-block:hover {
		color: white;
		text-decoration: none;
	}
	
	.home-block:hover h2 {
		text-decoration: underline;
	}
	
	.home-block h2 {
		padding-top: 0px;
		padding-bottom: 0px;
		font-size: 24px;
		text-shadow: 1px 1px 1px #000;
		margin-bottom: 7px;
		line-height: normal;
	}
	
	.home-block p {
		width: 90%;
		font-size: 16px;
	}
	
	.footer img {
		width: 135px;
		position: absolute;
		bottom: 7px;
		right: 0px;
	}
	
	#content > h2:first-child {
		font-size: @baseFontSize * 4;
		border-bottom: 6px solid @green;
		padding-bottom: 5px;
		color: @green;
		font-family: @altFontFamily;
		line-height: normal;
	}
	
	#content > h2:first-child small {
		font-size: @baseFontSize * 1.2;
	}
	
	.menu-subtitle {
		font-family: @sansFontFamily;
		color: @textColor;
	}
	
	.nav-tabs > .active > a.base-gold,
	.nav-tabs > li > a.base-gold {
		font-color: @textColor;
		background-color: #EDDA74;
	}
	
	.underline {
		border-bottom: 2px solid @grayLight;
	}
	
	.solid-box {
		padding: 15px;
		display: block;
		.border-radius(5px);
		.drop-shadow;
		color: white;
		.lead;
	}
	
	a.solid-box:hover {
		text-decoration: none;
		color: white;
	}
	
	.solid-box-green {
		background: @green;
	}
	
	.calendar-item td:first-child {
		width: 65px;
	}
	
	.calendar-item h4 {
		margin: 0px;
	}
	
	.calendar-item td {
		padding-top: @verticalGutter;
		padding-bottom: @verticalGutter;
	}
	
	.date-icon {
		text-align: center;
		.solid-box;
		.solid-box-green;
		padding: 5px;
	}
	
	.date-icon-day {
		font-size: 10px;
		line-height: 11px;
		margin-bottom: 5px;
	}
	
	.date-icon-month {
		font-size: 16px;
		line-height: 17px;
	}
	
	.date-icon-date {
		font-size: 22px;
		line-height: 20px;
	}
	
	.bookstore-item > div:first-child {
		line-height: 228px;
		background: @grayLighter;
	}
	
	.bookstore-item h4 {
		min-height: 40px;
	}
	
	.more-link {
		display: block;
		.spacing-top;
	}
	
	.nav-media > li > a {
		line-height: normal;
	}
	
	.no-padding {
		padding: 0px;
	}
	
	#feature-list {
		padding: 0px;
		list-style: none;
		margin: 0px;
	}
	
	.feature-list-item a {
		padding: 10px;
		font-size: 123.1%;
		color: white;
		text-decoration: none;
		text-transform: lowercase;
		display: block; 
		vertical-align: middle;
		margin-bottom: 5px;
	}

	#feature-list-item-1 a {
		background-color: #3A3D27;
	}

	#feature-list-item-1 a:hover {
		background-color: #6C6E5E;
	}

	#feature-list-item-2 a {
		background-color: #437200;
	}

	#feature-list-item-2 a:hover {
		background-color: #7B9045;
	}
	
	#feature-list-item-3 a {
		background-color: #70883A;
	}
	
	#feature-list-item-3 a:hover {
		background-color: #98A26E;
	}
	
	#feature-list-item-4 a {
		background-color: #FF4E24;
	}

	#feature-list-item-4 a:hover {
		background-color: #EF865F;
	}
	
	#feature-list-item-5 a {
		background-color: #D70000;
	}
	
	#feature-list-item-5 a:hover {
		background-color: #D15643;
	}
	
	#feature-list-item-6 a {
		background-color: #780013;
	}
	
	#feature-list-item-6 a:hover {
		background-color: #8F4A4F;
	}
	
	#purchase-overlay {
		position: absolute;
		top: 0px;
		right: 0px;
	}
	
	.college-information dt {
		width: 110px;
	}
	
	.college-information dd {
		margin-left: 125px;
	}
	
	body.home .main-nav .container {
		border: none;
	}
	
	body.home .navbar-inner {
		.no-margin-bottom;	
	}
	
	body.sat #content > h2:first-child {
		color: @colorSAT;
		border-color: @colorSAT;
	}
	
	body.act #content > h2:first-child {
		color: @colorACT;
		border-color: @colorACT;
	}
	
	body.psat #content > h2:first-child,
	body.ssat #content > h2:first-child,
	body.sat-subjects #content > h2:first-child,
	body.gre #content > h2:first-child,
	body.gmat #content > h2:first-child,
	body.lsat #content > h2:first-child,
	body.mcat #content > h2:first-child {
		color: @colorAccentRed;
		border-color: @colorAccentRed;
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
	
		#featured .span4 {
			width: 352px;
			margin-left: 392px;
		}
	
	}
	
	.row-fluid ul.thumbnails li.row-0 {
		margin-left: 0px;
	}
	
	@media print {
		
		.ui-buttons {
			display: none;
		}
		
		.noprint {
			display: none;	
		}
		
		#email-link-wrapper a {
			display: none;
		}
			
		#email-link-wrapper:after {
			content: "info@applerouth.com";
		}
		
		.ui-tabs,
		.ui-tabs .ui-tabs-hide {
			border: 0;
			margin: 0;
			padding: 0;
			display: block !important;
		}
		
		.ui-tabs-nav {
			display: none;
		}

		.ui-tabs .ui-widget-content, 
		.ui-accordion .ui-widget-content, 
		.ui-dialog .ui-widget-content {
			overflow: visible;
		}

		.blog-title a[href]:after,
		.blog-byline a[href]:after {
			content: none;
		}
		
		.drop-shadow-box ul
		.drop-shadow-box ol {
			margin-left: 250px;
		}

	}
	
	.video-link .title {
		background: @colorSAT;
		.border-top-radius(5px);
		.truncate;
		font-size: @fontSizeSmall;
	}
	
	.video-link img {
		.border-radius(@baseBorderRadius);
	}
	
	.video-problemquestion .title {
		background: @colorOther;
	}
